.logo {
    width: 70px;
}

.modal-dialog {
    width: 400px;
    margin: 70px auto 0;
    text-align: center;

}

.modal-body {
    padding: 60px 40px 40px !important;
}

.modal-body .title {
    color: #0400ff;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 10px;
}

.modal-body .description {
    color: #ff0000;
    font-size: 16px;
    margin: 0 0 20px;
}

.modal-body .form-group {
    text-align: left;
    margin-bottom: 10px;
    position: relative;
}

.modal-body .input-icon {
    color: rgb(0, 0, 0);
    font-size: 25px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
}

.modal-body .form-control {
    font-size: 17px;
    height: 45px;
    width: 100%;
    padding: 6px 0 6px 50px;
    margin: 0 auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder {
    color: #000000;
}

.form-group.checkbox {
    width: 130px;
    margin-top: 0;
    display: inline-block;
}

.form-group.checkbox label {
    color: #ff0000;
    font-weight: normal;
}

.form-group.checkbox input[type=checkbox] {
    margin-left: 0;
}

.modal-body .forgot-pass {
    color: #000000;
    font-size: 13px;
    text-align: right;
    width: calc(100% - 135px);
    margin: 2px 0;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease 0s;
}

.forgot-pass:hover {
    color: #0419b9;
    text-decoration: underline;
}

.modal-content .modal-body .btn {
    color: rgb(251, 251, 251);
    background: linear-gradient(to right, #33a3ff, #0675cf, #49a6fd);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    border: none;
    display: inline-block;
    transition: all 0.6s ease 0s;
}

.modal-content .modal-body .btn:focus {
    outline: none;
}

@media only screen and (max-width: 480px) {


    .modal-content .modal-body {
        padding: 60px 20px 40px !important;
    }
}

.modal-dialog {
    width: 95% !important;
}

.Student {
    background-color: red;
}

.btn-profile {
    border-color: #ff0000;
    border-radius: 10px;
}

.btn:hover {
    color: rgb(0, 236, 4);
    box-shadow: 0 0 10px rgb(217, 8, 8);
}

.footer {
    text-align: center;
    font-size: .6cm;
    background: #A85CF9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar-custom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #A85CF9;
}

.nav-item-custom {
    background-color: #000000;
    border-radius: 10px;
    color: white;
}

.card {
    background-color: #6FDFDF;
    border: 10px solid rgb(2, 2, 192);
}

.nav-brand-img {
    width: 1.5cm;
    height: auto;
}

.fa-angle-double-down {
    font-size: 50px;
    color: red;
}

.card-img-top{
    border-radius: 300px;
}

.con-head{
    background-color: #dbdf1e;
    text-align: center;
    border: 10px solid red;
    border-radius: 10px;
}

.con-ul{
    text-align: left;
    list-style: none;
}
