.logo {
    width: 70px;
}

.modal-box {
    font-family: 'Poppins', sans-serif;
}

.show-modal {
    color: #ffffff;
    background: linear-gradient(to right, #33a3ff, #0675cf, #49a6fd);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 15px;
    border: none;
    outline: none;
    box-shadow: 0 0 20px #0000001a;
    display: block;
    transition: all 0.3s ease 0s;
    margin: 30% 0% 0% 42%;
}

.show-modal span {
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.5s;
}

.show-modal span:after {
    content: '\23F7';
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 42%;
    transition: 0.5s;
}

.show-modal:hover span {
    padding-bottom: 25px;
}

.show-modal:hover span:after {
    opacity: 1;
    bottom: 0;
}

.show-modal:hover,
.show-modal:focus {
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0);
    outline: none;
}

.modal-dialog {
    width: 400px;
    margin: 70px auto 0;
}

.modal-dialog {
    transform: scale(0.5);
}

.modal-dialog {
    transform: scale(1);
}

.modal-dialog .modal-content {
    text-align: center;
    border: none;
}

.modal-content .close {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #33a3ff, #0675cf, #49a6fd);
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    line-height: 27px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    left: auto;
    right: 8px;
    top: 8px;
    z-index: 1;
    transition: all 0.3s;
}

.modal-content .close:hover {
    color: rgb(255, 0, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0);
}

.close:focus {
    outline: none;
}

.modal-body {
    padding: 60px 40px 40px !important;
}

.modal-body .title {
    color: #0400ff;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 10px;
}

.modal-body .description {
    color: #ff0000;
    font-size: 16px;
    margin: 0 0 20px;
}

.modal-body .form-group {
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.modal-body .input-icon {
    color: rgb(0, 0, 0);
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
}

.modal-body .form-control {
    font-size: 17px;
    height: 45px;
    width: 100%;
    padding: 6px 0 6px 50px;
    margin: 0 auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder {
    color: #5784df;
}

.form-group.checkbox {
    width: 130px;
    margin-top: 0;
    display: inline-block;
}

.form-group.checkbox label {
    color: #ff0000;
    font-weight: normal;
}

.form-group.checkbox input[type=checkbox] {
    margin-left: 0;
}

.modal-body .forgot-pass {
    color: #000000;
    font-size: 13px;
    text-align: right;
    width: calc(100% - 135px);
    margin: 2px 0;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease 0s;
}

.forgot-pass:hover {
    color: #001aff;
    text-decoration: underline;
}

.modal-content .modal-body .btn {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #33a3ff, #0675cf, #49a6fd);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    border: none;
    display: inline-block;
    transition: all 0.6s ease 0s;
}

.modal-content .modal-body .btn:hover {
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
}

.modal-content .modal-body .btn:focus {
    outline: none;
}

@media only screen and (max-width: 480px) {
    .modal-dialog {
        width: 95% !important;
    }

    .modal-content .modal-body {
        padding: 60px 20px 40px !important;
    }
}

.Student {
    background-color: red;
}

.btn-2 {
    border: 1px solid gray;
    font-size: 0.875;
    word-wrap: break-word;
    max-width: 100%;
}

.footer {
    text-align: center;
    background: #8566aa;
}

.navbar-custom {
    background-color: #A85CF9;
}

.nav-item-custom {
    background-color: #000000;
    border-radius: 10px;
    color: white;
}

.card {
    background-color: #6FDFDF;
}

.body {
    background-color: #A85CF9;
}

.border-custom {
    border: 10px solid blue;
}

.nav-brand-img {
    width: 100px;
    height: auto;
}

.fa-angle-double-down {
    font-size: 50px;
    color: red;
}